{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ _('Rod360°') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - {{ _('Rod360°') }}" />
{% endblock %}

{% block content %}
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored"><i class="icon-user"></i>  {{ _('Rod360°') }}</h1>
        <div class="row">
            {% if 'mail' in ABOUT %}
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="fh5co-icon">
                      {% if 'image' in ABOUT %}
                        <img class="about-image" src="{{ ABOUT.image }}" />
                      {% else %}
                        <i class="icon-globe"></i>
                      {% endif %}
                  </div>
                  <div class="fh5co-text">
                    <p>Rodrigo Agundez, PhD</p>
                  </div>
                </div>
            </div>
            {% endif %}

            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-microphone2"></i>
                    </div>
                    <div class="fh5co-text">
                        <p>Spanish - English - Dutch</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
              <a href="/documents/CV.pdf">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-download"></i>
                    </div>
                    <div class="fh5co-text">
                        <p>Curriculum Vitae<br>PDF</p>
                    </div>
                </div>
              </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-git"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><b>10+</b> years of coding and software engineering</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-lab2"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><b>7</b> years of Machine Learning</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-user2"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><b>5</b> years of tech leadership and team management</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-cloud4"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><b>4</b> years of AWS ML stack</p>
                    </div>
                </div>
            </div>
        </div>


        <div align="center">
            <iframe src="https://drive.google.com/file/d/1RfemPHOYaXWUBDsnSr4yhZBoMOw_oa_K/preview" width="700" height="480"></iframe>
        </div>
        <br>
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center slider-text animated fadeInLeft">
            <div class="slider-text-inner">
                <h1 class="fh5co-heading-colored"><i class="icon-code"></i></h1>
                <h2>I would describe myself as highly technical with
a passion for leadership and innovation. I am technical first, and I bring that
background to my leadership style. This approach has proven to gain me
the confidence and respect of my teams and therefore strategically move in
unison and with higher speed, while reducing turnover.
</h2>
<h2>I can sit down to have a technical talk with senior engineers and data
scientists and at the same time use that knowledge to make strategic
decisions that minimize technical debt and prioritize value creation.
</h2>
<h2>My academic background is technical with 2 masters and PhD in theoretical
Physics. My Data Science skills are no different. For example, I have
in-depth knowledge of Machine Learning, AWS, Spark, advanced Python,
vast experience in productionizing AI at scale and a good eye for
recognizing the correct technical approach to deliver value back to the
business.
</h2>
<h2>In addition, I have plenty of leadership experience and since the last years I have
heavily invested in improving my leadership skills via training and hiring a
personal career coach.</h2>
            <h1 class="fh5co-heading-colored"><i class="icon-code"></i></h1>
            </div>
        </div>
        </div>

        <h1 class="fh5co-heading-colored">EXPERIENCE</h1>
        <div class="archive">
            {% for article in articles if article.category == 'work' %}
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    {{ article.locale_date }}
                    {{ article.summary }}
                </div>
            {% endfor %}
        </div>

        <br>
        <h1 class="fh5co-heading-colored">EDUCATION</h1>
        <div class="archive">
            {% for article in articles if article.category == 'study' %}
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    {{ article.locale_date }}
                    {{ article.summary }}
                </div>
            {% endfor %}
        </div>

        <br>
        <h1 class="fh5co-heading-colored">TALKS & WORKSHOPS</h1>
        <div class="archive">
            {% for article in articles if article.category in ['talk', 'workshop'] %}
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    {{ article.locale_date }}
                    {{ article.summary }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
