{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ _('Rod360') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - {{ _('Rod360') }}" />
{% endblock %}

{% block content %}
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">{{ _('Rod360') }}</h1>
        <div class="row">
        {% if 'mail' in ABOUT %}
        <div class="col-md-4">
            <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                  {% if 'image' in ABOUT %}
                    <img class="about-image" src="{{ ABOUT.image }}" />
                  {% else %}
                    <i class="icon-globe"></i>
                  {% endif %}
              </div>
              <div class="fh5co-text">
                <p>Rodrigo Agundez, PhD<br>32, Mexican</p>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="col-md-4">
            <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                <div class="fh5co-icon">
                    <i class="icon-microphone2"></i>
                </div>
                <div class="fh5co-text">
                    <p>Spanish - English - Dutch</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                <div class="fh5co-icon">
                    <i class="icon-download"></i>
                </div>
                <div class="fh5co-text">
                    <p>Curriculum Vitae<br>PDF</p>
                </div>
            </div>
        </div>
        </div>

        <br>
        <h1 class="fh5co-heading-colored">WORK</h1>
        <div class="archive">
            {% for article in articles if article.category == 'work' %}
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    {{ article.locale_date }}
                    {{ article.summary }}
                </div>
            {% endfor %}
        </div>

        <br>
        <h1 class="fh5co-heading-colored">STUDY</h1>
        <div class="archive">
            {% for article in articles if article.category == 'study ' %}
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    {{ article.locale_date }}
                    {{ article.summary }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
